[submodule ".vim/packages/ack.vim"]
	path = .vim/packages/ack.vim
	url = https://github.com/mileszs/ack.vim
[submodule ".vim/packages/AfterColors.vim"]
	path = .vim/packages/AfterColors.vim
	url = https://github.com/vim-scripts/AfterColors.vim
[submodule ".vim/packages/auto-pairs"]
	path = .vim/packages/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule ".vim/packages/nerdcommenter"]
	path = .vim/packages/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule ".vim/packages/nerdtree"]
	path = .vim/packages/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule ".vim/packages/paste-indent"]
	path = .vim/packages/paste-indent
	url = https://github.com/ForTheReallys/paste-indent
[submodule ".vim/packages/vim-sessionmgr"]
	path = .vim/packages/vim-sessionmgr
	url = https://github.com/ForTheReallys/vim-sessionmgr
[submodule ".vim/packages/vim-swift"]
	path = .vim/packages/vim-swift
	url = https://github.com/toyamarinyon/vim-swift
[submodule ".vim/packages/tabular"]
	path = .vim/packages/tabular
	url = https://github.com/godlygeek/tabular
[submodule ".vim/packages/tagbar"]
	path = .vim/packages/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule ".vim/packages/typescript-vim"]
	path = .vim/packages/typescript-vim
	url = https://github.com/leafgarland/typescript-vim
[submodule ".vim/packages/ultisnips"]
	path = .vim/packages/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule ".vim/packages/vim-nerdtree-tabs"]
	path = .vim/packages/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs
[submodule ".vim/packages/vim-solarized8"]
	path = .vim/packages/vim-solarized8
	url = https://github.com/lifepillar/vim-solarized8
[submodule ".vim/packages/vim-surround"]
	path = .vim/packages/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule ".vim/packages/YouCompleteMe"]
	path = .vim/packages/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe
[submodule ".vim/packages/vim-skeletons"]
	path = .vim/packages/vim-skeletons
	url = https://github.com/pgilad/vim-skeletons
[submodule ".vim/packages/coc.nvim"]
	path = .vim/packages/coc.nvim
	url = https://github.com/neoclide/coc.nvim
