[submodule ".vim/pack/dev/packages/nerdcommenter"]
	path = .vim/pack/dev/packages/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule ".vim/pack/dev/packages/nerdtree"]
	path = .vim/pack/dev/packages/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule ".vim/pack/dev/packages/paste-indent"]
	path = .vim/pack/dev/packages/paste-indent
	url = https://github.com/ForTheReallys/paste-indent
[submodule ".vim/pack/dev/packages/tagbar"]
	path = .vim/pack/dev/packages/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule ".vim/pack/dev/packages/vim-nerdtree-tabs"]
	path = .vim/pack/dev/packages/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs
[submodule ".vim/pack/dev-extra/ack.vim"]
	path = .vim/pack/dev-extra/ack.vim
	url = https://github.com/mileszs/ack.vim
[submodule ".vim/pack/dev-extra/packages/ack.vim"]
	path = .vim/pack/dev-extra/packages/ack.vim
	url = https://github.com/mileszs/ack.vim
[submodule ".vim/pack/dev-extra/packages/ultisnips"]
	path = .vim/pack/dev-extra/packages/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule ".vim/pack/dev-extra/packages/vim-skeletons"]
	path = .vim/pack/dev-extra/packages/vim-skeletons
	url = https://github.com/pgilad/vim-skeletons
[submodule ".vim/pack/dev-extra/packages/YouCompleteMe"]
	path = .vim/pack/dev-extra/packages/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe
[submodule ".vim/pack/general/packages/AfterColors.vim"]
	path = .vim/pack/general/packages/AfterColors.vim
	url = https://github.com/vim-scripts/AfterColors.vim
[submodule ".vim/pack/general/packages/auto-pairs"]
	path = .vim/pack/general/packages/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule ".vim/pack/general/packages/vim-packload"]
	path = .vim/pack/general/packages/vim-packload
	url = https://github.com/ForTheReallys/vim-packload
[submodule ".vim/pack/general/packages/vim-surround"]
	path = .vim/pack/general/packages/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule ".vim/pack/general/packages/vim-solarized8"]
	path = .vim/pack/general/packages/vim-solarized8
	url = https://github.com/lifepillar/vim-solarized8
[submodule ".vim/pack/misc/packages/tabular"]
	path = .vim/pack/misc/packages/tabular
	url = https://github.com/godlygeek/tabular
