snippet name "namespace" b
namespace ${1:MyNamespace} {
	$0
}
endsnippet

snippet main "Main function" b
static void Main() {
	$0
}
endsnippet

snippet sout "print to screen" b
Console.WriteLine($0)
endsnippet
